{%extends "home.html "%} {% block title %}Account creation{% endblock %}
{%block sign_in%}
<a class="nav-link" href="/sign-in">
  Sign in
  <svg width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
  </svg>
</a>
{% endblock %}
{%block content%}

<div class="container mt-5 mb-5">
  <div class="row text-light">
    <div class="d-flex justify-content-center">
      <div class="py-5 px-5 col-xl-6 d-flex justify-content-center shadow bg-custom">
        <div class="container">
          <div>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {%if messages %}
                {%for category,message in messages %}
                  {% if category == 'error' %}

                  <div class="alert alert-danger d-flex align-items-center fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                      {{message}}
                    </div>
                    <div class="ms-auto">
                      <button class="btn-close alert-dismissable" data-bs-dismiss="alert" type="button" aria-label="close" "></button>
                    </div>
                  </div>

                  {% elif category == 'success' %}

                  <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <div>
                      {{message}} Do You want to <a href="/sign-in">Log in</a>?
                    </div>
                    <div class="ms-auto">
                      <button class="btn-close alert-dismissable" data-bs-dismiss="alert" type="button" aria-label="close" "></button>
                    </div>
                  </div>

                  <div class="alert alert-warning d-flex align-items-center fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                      Account needs to be activated via email.
                    </div>
                    <div class="ms-auto">
                      <button class="btn-close alert-dismissable" data-bs-dismiss="alert" type="button" aria-label="close" "></button>
                    </div>
                  </div>

                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}

          </div>
         <div class="row">
            <form method="post">
              <div class="form-group">
                <label  for="username" >Username</label>
                <input type="text" name="username" id="username" placeholder="Enter here" required pattern="^([a-zA-Z0-9]){3,100}$" title="Username has to be atleast 3 characters long and can't have special symbols" >
              </div>
              <div class="form-group mt-3">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter here" pattern="^([a-zA-Z0-9_.-])+@([a-zA-Z0-9-])+(\.([a-zA-Z0-9])+)+$" required>
              </div>
              <div class="form-group mt-3">
                <label  for="password" >Password</label>
                <input type="password" name="password" id="password" placeholder="Enter here" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
              </div>

              <div id="message">
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>

              <div class="form-group mt-3">
                <label  for="passwordcnfrm">Confirm Password</label>
                <input type="password" name="passwordcnfrm" id="passwordcnfrm" placeholder="Enter here" required>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkthisout" id="flexCheckDefault" required>
                <label class="form-check-label px-2 pt-1" for="flexCheckDefault">Check this out! You have to, otherwise I won't allow you to create account!</label>
              </div>
              <div class="d-flex justify-content-center">
                <button class="mt-5 btn btn-outline-secondary text-light d-flex" type="submit" name="button">Create account</button>
              </div>
            </form>
          </div>


        </div>

      </div>
    </div>
  </div>

<script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>


</div>
{%endblock%}
